.details-chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #cac8c8;
}

.details-image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #e5e5e5;
  margin: 0 auto;
}

.details-left-side {
  flex: 1;
}

.details-right-side {
  flex: 4;
  background: white;
}

.details-left-side,
.details-right-side {
  display: flex;
  flex-direction: column;
}

.details-header {
  display: flex;
  text-align: center;
  margin-top: 3rem;
}
.details-user-info {
  flex: 4;
}

.blocks {
  display: flex;
  margin: 0 auto;
  margin-top: 1.75rem;
  flex-direction: row;
}

.details-close {
  width: 5rem;
  margin-left: auto;
  margin-top: 4rem;
  margin-right: 2rem;
  cursor: pointer;
}

.details-close i {
  font-size: 40px;
}

.details-name-last {
  margin-top: 1.5rem;
}

.details-name-last h2 {
  margin-top: 1.5rem;
}

.message-block,
.video-block,
.call-block {
  background-color: #f3f3f3;
  width: 10rem !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 2rem;
}

.message-block i {
  font-size: 32px;
  color: #68b7ff;
}

.call-block i {
  font-size: 32px;
  color: #68b7ff;
}

.video-block i {
  font-size: 32px;
  color: #68b7ff;
}

.blocks h2 {
  color: #68b7ff;
  padding-top: 1rem;
  font-weight: 400;
}

.details-name-last h2 {
  color: #c8c8c8;
  font-size: 14px;
  font-weight: 400;
}

.details-name-last p {
  font-weight: 700;
  font-size: 18px;
}
